.wrapper {
    background-color: transparent;
    margin-top: 5rem;
    
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.box {
    background-color: #60686C;
    width: 30%;
    padding: 1rem;
    box-shadow: 5px 5px #888888;
}

.login-btn {
    margin-top: -0.5rem;
}